.fh-holder {
    --fh-color: #000;
    --fh-size: calc(var(--font-size-base) * 3);
    appearance: none;
    width: var(--fh-size);
    height: var(--fh-size);
    position: relative;
    box-sizing: border-box;
    border: var(--fh-color) 1px solid;
    background-color: transparent;
    cursor: pointer;
    transition: filter var(--animation-speed-button-switch), background-color var(--animation-speed-button-switch), box-shadow var(--animation-speed-button-switch), border var(--animation-speed-button-switch), fill var(--animation-speed-button-switch), color var(--animation-speed-button-switch);
    user-select: none;
    fill: var(--fh-color);
    color: var(--fh-color);
}

.fh-holder::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    pointer-events: none;
    position: absolute;
    top: -1px;
    right: -1px;
    transition: border var(--fh-animation-speed-fast);
    border-width: var(--fh-corner-marker-border-width);
    border-color: var(--fh-color) var(--fh-color) transparent transparent;
    border-style: solid;
    transition: border var(--animation-speed-button-switch);
}

.fh-holder:hover {
    --fh-color: var(--color-general)
}

.fh-holder.fh-size-small {
    --fh-size: calc(var(--font-size-base) * 2.25);
}

.fh-holder.fh-size-large {
    --fh-size: calc(var(--font-size-base) * 4);
}